.Modal.in {
  animation: modal-in 0.3s;
}

.Modal.out {
  animation: modal-out 0.3s forwards;
}

.Children.in {
  animation: children-in 0.3s;
}

.Children.out {
  animation: children-out 0.3s forwards;
}

@keyframes modal-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes children-in {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes children-out {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
}
